#ios {
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
  width: 100%;
  max-width: 400px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ios p {
  font-size: .7em;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.flex-item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ios h5 {
  margin: 0px;
  padding: 10px;
  color: #777777;
}

#ios h4 {
  margin: 0px;
  //margin-top: 20px;
  color: #595959;
}

#ios {
  color: #777777;
}

//color: #474747;
//color: #595959;
//color: #777777;

#ios {
  width: 100%;
  max-width: 400px;
}
#ios img {
  max-width: 150px;
  max-height: 150px;
}

li {
	-webkit-font-smoothing: antialiased;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 10px auto;
  display: inline-block;
  padding: 5px 30px;
  border: 2px solid #0b7def;
 	color: #0b7def;
  cursor: pointer;
  border-radius: 5px;
}
